{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/feedReader.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="root"
             data-websocket-host="{{ websocket_host }}"
             data-symbol-status-url="{{ path('symbols_status') }}"
        >

        </div>
    </div>
{% endblock %}