{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/feedReader.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="root" data-websocket-host="{{ websocket_host }}">

        </div>
    </div>
{% endblock %}